---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogCard from '../../components/partial/BlogCard.astro';
import Scrollable from '../../components/partial/Scrollable.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const allPosts = (await getCollection('blog')).sort(
  	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
  );

  const uniqueTags = [... new Set(allPosts.map((post: any) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) => post.data.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag} class="overflow-hidden">
  <div class="flex flex-row justify-between items-center font-bold text-black dark:text-light text-center mb-8">
    <div class="headline border-b-2 rounded-b-md pb-2">{tag}</div>
  </div>

<Scrollable>
  <div class="flex flex-wrap justify-center gap-15 mb-20 mt-10">
    {posts.map((post: any) => <BlogCard 
      id={post.id}
      title={post.data.title}
			img={post.data.heroImage}
      description={post.data.description}
      pubDate={post.data.pubDate}
    />)}
  </div>
</Scrollable>
</BaseLayout>