---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import { Image } from 'astro:assets';
import BaseLayout from './BaseLayout.astro';
import Scrollable from '../components/partial/Scrollable.astro';
import '../styles/markdown.css';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<BaseLayout pageTitle={title} description={description} class="pointer-events-auto overflow-hidden mb-5">
<Scrollable>
  	<div class="flex flex-row justify-between items-center font-bold text-black dark:text-light text-center mb-4">
    	<div class="headline border-b-2 rounded-b-md pb-2">{title}</div>
    	<div class="pointer-events-auto pr-10">
			<div>
				<FormattedDate date={pubDate} />
				{
					updatedDate && (
						<div>
							Last updated on <FormattedDate date={updatedDate} />
						</div>
					)
				}
			</div>
		</div>
  	</div>
	<article class="markdown max-w-3xl mx-auto w-full max-h-screen px-4 py-8">
		<div>
			{heroImage && <Image width={1020} height={510} src={heroImage} alt="" />}
		</div>
		<div class="pb-20">
			<div>
			</div>
			<slot />
		</div>
	</article>
</Scrollable>
</BaseLayout>
